{% extends 'admin/change_form.html' %}

{% block field_sets %}
    {% if original %}
        <div class="aligned form-row">
            <div>
                <label>Preview:</label>
                <img
                        alt="image preview"
                        src="/media/{{ original.file.url }}"
                        style="max-height: 300px;">
            </div>
        </div>
    {% endif %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
{% endblock %}